body,
html {
    align-content: center;
    background: #fff;
    font-size: 20px;
    height: 0 auto;
    width: 0 auto;
}

.search-bar {
    float: left;
    height: 33px;
    margin-left: 30%;
    margin-top: 200px;
    padding: 15px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.instructions {
    color: #000;
    max-width: 300px;
    white-space: nowrap;
    width: 100%;
}

input {
    border-bottom: 0;
    border-right: thin solid #C0C0C0;
    border-top: thin solid #C0C0C0;
    box-shadow: 0px 1px 1px 1px #C0C0C0;
    display: inline-block;
    float: left;
    height: 39px;
    width: 40%;
}

.search-icon {
    cursor: pointer;
    display: block;
    float: right;
    height: 30px;
    margin-right: auto;
    width: 47%;
}

button {
    color: #63717f;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.search-bar input#search::-webkit-input-placeholder {
    color: #65737e;
}

.search-bar input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

.search-bar input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

.search-bar input#search:-ms-input-placeholder {
    color: #65737e;
}
